<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">Extented Image</lang>
	</name>
	<author>
		<lang name="default">Артем tema_mak Маковецкий</lang>
	</author>
	<homepage>http://livestreet.ru</homepage>
	<version>1.0.1</version>
	<requires>
		<livestreet>1.0.1</livestreet>
		<plugins>
		</plugins>
	</requires>
	<description>
		<lang name="default">Extented Image</lang>
		<lang name="russian">Расширенная работа с картинками на сайте.</lang>
	</description>
</plugin>